[submodule "src/firmware/tinyusb"]
	path = src/firmware/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "src/firmware/bluepad32"]
	path = src/firmware/bluepad32
	url = https://github.com/ricardoquesada/bluepad32.git
